<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot JS</title>
<link href="https://fonts.googleapis.com/css?family=Lato:100"
	rel="stylesheet" type="text/css"></link>
<link type="text/css" rel="stylesheet" href="/css/top.css"></link>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/top.js"></script>
</head>
<body>
	<div class="container">
		<div class="content">
			<div class="tab-menu">
				<ul>
					<li id="left" class="selected">左タブ</li>
					<li id="right">右タブ</li>
				</ul>

				<div class="contents">
					<div class="left">
						<p>お花コンテンツ</p>
					</div>
					<div class="right">
						<p>お魚コンテンツ</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>